//colors
$primaryColor: #000;
$blue: #377DFF;
$green: #38CB89;
$orange: #FFAB00;
$red: #FF5630;
$neutral1: #FEFEFE;
$neutral2: #F3F5F7;
$neutral3: #E8ECEF;
$neutral4: #6C7275;
$neutral5: #343839;
$neutral6: #232627;
$neutral7: #141718;

//fonts
$primaryFont: 'Poppins';
$secondaryFont: 'Inter';
$headerFont: 'Space Grotesk';

//screens
$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';
$projector: 'min-width: 1200px';