.quantity-selector{
    display: flex;
    width: 5rem;
    height: 2rem;
    padding: 0.75rem 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.25rem;
    border: 1px solid $neutral4;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        align-self: stretch;

        p{
            @include pMedium($font-size: 0.75rem, $color: #121212);
        }
    }
}