.title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 2rem;
    padding-top: 3rem;
    margin-top: 3rem;

    @media ($desktop) {
        padding: 0 10rem;
    }

    &__text{
        @include h4();
    }
}