.services{
    display: flex;
    width: 100%;
    padding: 2rem;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;

    @media ($desktop) {
        padding: 3rem 10rem;
        justify-content: center;
        flex-wrap: nowrap;
    }

    @media (max-width: 375px) {
        padding: 0;
        padding: 2rem 0;
    }
}